h1 {
    text-align: center;
}

p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

